*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 60px;
    width: 100px;
}
.logo{
    background-size: cover;
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 5px;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: palevioletred;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    margin-left: 20px;
}

.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-lan{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.lan-logo{
    display: flex;
}
.lan-select{
    background-color:black;
    color: white;
    border: none;
}
.nav-signin{
    font-size: 0.8rem;
    margin-left: 20px;
}
.signin-select{
    background-color: black;
    color: white;
    border: none;
    font-size: 1rem;
}
.para{
    margin-left: 6px;
    font-size: 0.8rem;
}
.nav-return{
    margin-left: 20px;
}
.nav-cart{
    display: flex;
    margin-left: 20px;
}
.cart-logo{
    font-size: 2rem;
}
.chuut{
font-size: 1rem;
margin-top: 20px;
}
.nav2{
    height: 40px;
    background-color:#757270;
    display: flex;
}
.nav2-all{
    display: flex;
    margin-left: 10px;
}
.lolo{
    margin-top: 10px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-size: 0.7rem; */
}
.loli{
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.nav2-content{
    margin-left: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.hero-section{
    background-image: url(hero_image.jpg);
    height: 350px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 80%;
    margin-bottom: 25px;
}
a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box1-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.shop-section p{
    color:#007185 ;
}
.footer{
    margin-top: 15px;
}
.foot-pannel1{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.89rem;
}
.foot-pannel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block; 
}